# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Exercises.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\viliu\RiderProjects\Exercises\.idea\.idea.Exercises\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
